div {
    border: 0px solid #999;
    background: transparent;
    text-align: center;
}

.container-fluid,
.container,
.row {
    background: transparent;
}

.container-fluid{
    border: 0px solid #999;
    margin-top: 20px;
}

body {
    font-family: Century Gothic;
    font-size: 12px;
    color: #FF66CC;
    background: url('img/bats.png');
}

img {
    border: 0px solid #000;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100);
}



p {
    background-color: #fff;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: inherit;
}

.box{
    border: 12px solid #999;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
