#featured_1 {
    background-image: url(img/featuredimages/1_feature.jpg);
}

#featured_2 {
    background-image: url(img/featuredimages/2_feature.jpg);
}

#featured_3 {
    background-image: url(img/featuredimages/3_feature.jpg);
}

#featured_4 {
    background-image: url(img/featuredimages/4_feature.jpg);
}

#featured_5 {
    background-image: url(img/featuredimages/5_feature.jpg);
}

.background-img {
    /* make sure the background image's div is the same height as viewport */
    
    height: 100vh;
    /* make sure the image is stretched out to cover the whole viewport */
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* make sure when the viewport resizes to a smaller size, the image is still centered, as opposed to anchored on the upper left corner */
    
    background-position: center center;
    /*The background-attachment property sets whether a background image is fixed or scrolls with the rest of the page.*/
    
    background-attachment: fixed;
}

/* navbar default controls background color of navbar, and positioning of navbar */

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    font-size: 0.6em;
    margin: 2em 10em;
}

.navbar-default .navbar-brand {
    color: #d1d1d1;
    font-weight: 100;
    letter-spacing: 0.3em;
}

.navbar-default .navbar-nav>li>a {
    margin-top: 0.9em;
    color: #fff;
    border: 0.2em solid #ccc;
    margin-right: 0.8em;
    padding: 0.8em;
    font-weight: 150;
    letter-spacing: 0.2em;
    border-radius: 0.8em;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ccc;
}

.intro {
    height: 120vh;
    background-color: #353535;
}

h1{
    color: #A9A9A9;
    margin-top: 40%;

} 


/* for device that's narrower than 767.9 px, amend previous css with the additional code below */
@media (max-width: 767.999999px) { 
    .navbar-default {
        /* use !important when your code overwrite previous code */
        margin: 2em !important;
    }
    h1{
        font-size: 1.6em;
        margin-top: 80%;
    }
    
}

footer {
    background-color: #F5F5F5;
    /* overwrite default margin, so there won't be two white bars above and below footer */
    
    margin: 0;
    /* more breathing room for the footer */
    
    padding: 20% 0;
}

footer h6 {
    font-family: "helvetica neue";
    /* thinner font weight to match the delicate visual style and subtle background color */
    
    font-weight: 200;
    color: #4c4c4c;
}